ion-icon {
  margin-right: 15px;
  font-size: 20px;
}

.toolbar {
  --background: #b15d98;
  height: 25px;
}

.header {
  height: 50px;
  background-color: #b15d98;
  padding: 5%;
  color: white;
  font-size: 15px;
}

.profile {
  box-shadow: none;
  border: none;
}

ion-avatar {
  margin-left: 30%;
}

.addpicture {
  margin-left: 5%;
  margin-top: 10%;
  --background: #b15d98;
}

ion-checkbox {
  --border-radius: 10px;
  margin-left: 10%;
  --checkmark-color: #b15d98;
  --background-checked: #b15d98;
  --border-color-checked: grey;
}

.color {
  margin-left: 10px;
}

ion-row {
  margin: 3%;
}
