.toolbar {
  --background: #b15d98;
  height: 25px;
}

.header {
  height: 50px;
  background-color: #b15d98;
  padding: 5%;
  color: white;
  font-size: 15px;
}

.menu {
  margin-right: 20px;
  font-size: 20px;
}

.search {
  margin-left: 130px;
}

.add {
  margin-left: 85%;
  font-size: 30px;
  color: #b15d98;
}
