ion-icon {
    margin-right: 20px;
}

.toolbar {
    --background: #B15D98;
    height: 25px;
}

.header {
    height: 50px;
    background-color: #B15D98;
    padding: 5%;
    color: white;
    font-size: 15px;
}

ion-img {
    margin-bottom: 5%;
}