.toolbar {
    --background: #B15D98;
    height: 25px;
}

.header {
    height: 50px;
    background-color: #B15D98;
    padding: 5%;
    color: white;
    font-size: 15px;
}

.createnew {
    --background: #B15D98;
    margin: 10%;
    margin-top: 30px;
}

ion-thumbnail {
    --size: 200px;
    margin-left: 13%;
}

ion-icon {
    margin-right: 20px;
}

.input {
    --padding-top: 50px;
}
