.toolbar {

    --background: #B15D98;
    height: 25px;
}

.login {
    --background: #B15D98;
    margin: 3%;
}

.signup {
    --background: #CC6BAF;
    margin: 3%;
}

.pic {
    margin-top: 100px;
    --size: 200px;
    margin-left: 13%;
}